name: Rust

on:
  push:
    branches: 
      - "main"
      - "json"
  pull_request:
    branches: 
      - "main"
      - "json"

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose

  format:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - name: Format
      run: cargo fmt
